<h1> <%= @meeting.title %>  </h1>
<h3> <%= @meeting.description %> </h3>
  <div id="queue">
    <h2>Queue:</h2>
    <ul id="destroy-list">
    <% @queue.each do |participant| %>
    <li data-id=<%= "#{participant.id}" %>> <%= participant.name %></li>
    <% end %>
    </ul>
  <button type="button">Next</button> <br><br>
  </div>

  <div id="participants">
    <h2>Participants:</h2>
    <% @participants.each do |participant| %>

    <button data-id=<%= "#{participant.id}" %> type="button" <%= 'disabled' if participant.q_status %>>
      <%= participant.name %>
    </button>

    <% end %>
  </div>
